.error {
    border-color: crimson;
    color: crimson;
}

.success {
    color:forestgreen;
}

button {
    margin-left: 10px;
}

.header {
    background-color: darkgrey;
}

.header a {
    margin: 10px;
}

.header a:first-child {
    margin-left: 0;
}
